article {
	// line-height: 5em;
    height: 35em; // Po zrobieniu całego kalkulatora - tę linię można (chyba) usunąć. 
	text-align: center;
	background: #a2bfb8;
}

.calc_body {
    background: rgba(123, 156, 207, 1);
    height: 33.5em;
    .calc_header {
        height: 2em;
        position: relative;
        font-weight: 700;
        .span_12 p {
            display: inline-block;
            width: 45%;
            vertical-align: middle;
            padding: 1.5% 1.5% 1.5% 1.5%;
            margin: 0;
            position: absolute;               
                top: 100%;                         
            transform: translate(5%, -50%);
        }
        .span_12 div {
            display: inline-block;
            width: 99%;
            text-align: center;
            padding: 1.5% 1% 1% 60%;
            hr {
                width: 6em;
            }
        }
    }
}














aside {
	line-height: 20em;
	text-align: center;
	background: #b3d1c9;
}

