article {
	// line-height: 5em;
    height: 35em; // Po zrobieniu całego kalkulatora - tę linię można (chyba) usunąć. 
	text-align: center;
	background: #a2bfb8;
}

.calc_body {
    background: rgba(123, 156, 207, 1);
    height: 33.5em;
    .calc_header {
        height: 2em;
        position: relative;
        font-weight: 700;
        .span_12 p {
            display: inline-block;
            width: 55%;
            vertical-align: middle;
            padding: 1.5% 1.5% 1.5% 1.5%;
            margin: 0;
            position: absolute;               
                top: 100%;                         
            transform: translate(5%, -50%);
        }
        .span_12 div {
            display: inline-block;
            width: 99%;
            text-align: center;
            padding: 1.5% 1% 1% 60%;
            hr {
                width: 6em;
            }
        }
    }
    .calc_space { // Nie jestem pewien, czy takie ustawienie jest właściwe, ale na razie może być.
        min-height: 0.5em;
    }
    .calc_display {
        background: #999999;
        min-height: 2.5em;
        margin-top: 0.5%;
        display: flex;
        div:first-child, div:last-child {
            flex-grow: 1;
            background: rgba(123, 156, 207, 1);
            width: 1em;
        }
        div:nth-child(2) { /* Real display div */
            flex-grow: 10;
            p {
                width: 100%;
                height: 100%;
                line-height: 2.5em;
                font-weight: 700;
                font-size: 1.2em;
                letter-spacing: 0.2em;
                padding: 1.5%;
            }
        }
    }
    .dr_1 {
        min-height: 2.5em;
        margin-top: 1%;
        display: flex;
        div:first-child, div:last-child {
            // flex-grow: 1;
            width: 1em;
        }
        div.col.span_10 {
            // flex-grow: 10;
            flex-direction: row;
            display: flex;
            div {
                width: 10em;
                // height: 100%;
                background: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: auto 2%;
                flex-direction: row;
            }
        }
    }
    .dr_2 {
        min-height: 2.5em;
        margin-top: 2%;
        display: flex;
        div:first-child, div:last-child {
            flex-grow: 1;
            width: 1em;
        }
        div.col.span_10 {
            flex-grow: 10;
            display: flex;
            div {
                width: 100%;
                height: 100%;
                background: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: auto 2%;
            }
        }
    }
    .lr_1 {
        min-height: 2.5em;
        margin-top: 2%;
        display: flex;
        div:first-child, div:last-child {
            flex-grow: 1;
            width: 1em;
        }
        div.col.span_10 {
            flex-grow: 10;
            display: flex;
            div {
                width: 100%;
                height: 100%;
                background: #ffffff;
                color: #666699;
                line-height: 2.5em;
                text-align: center;
                margin: auto 2%;
            }
        }
    }
    .lr_2 {
        min-height: 2.5em;
        margin-top: 2%;
        display: flex;
        div:first-child, div:last-child {
            flex-grow: 1;
            width: 1em;
        }
        div.col.span_10 {
            flex-grow: 10;
            display: flex;
            div {
                width: 100%;
                height: 100%;
                background: #ffffff;
                color: #666699;
                line-height: 2.5em;
                text-align: center;
                margin: auto 2%;
            }
        }
    }
}














aside {
	line-height: 20em;
	text-align: center;
	background: #b3d1c9;
}

