article {
	// line-height: 5em;
    height: 40em; // Po zrobieniu całego kalkulatora - tę linię można (chyba) usunąć. 
	text-align: center;
	background: #a2bfb8;
}

.calc_body {
    background: rgba(123, 156, 207, 1);
    height: 98%;
    .calc_header {
        height: 2em;
        position: relative;
        font-weight: 700;
        .span_12 p {
            display: inline-block;
            width: 55%;
            vertical-align: middle;
            padding: 1.5% 1.5% 1.5% 1.5%;
            margin: 0;
            position: absolute;               
                top: 100%;                         
            transform: translate(5%, -50%);
        }
        .span_12 div {
            display: inline-block;
            width: 99%;
            text-align: center;
            padding: 1.5% 1% 1% 60%;
            hr {
                width: 6em;
            }
        }
    }
    .calc_space { // Nie jestem pewien, czy takie ustawienie jest właściwe, ale na razie może być.
        min-height: 0.5em;
    }
    .calc_display {
        background: #999999;
        min-height: 2.5em;
        margin-top: 0.5%;
        display: flex;
        div:first-child, div:last-child {
            flex-grow: 1;
            background: rgba(123, 156, 207, 1);
            width: 1em;
        }
        div:nth-child(2) { /* Real display div */
            flex-grow: 10;
            p {
                width: 100%;
                height: 100%;
                line-height: 2.5em;
                font-weight: 700;
                font-size: 1.2em;
                letter-spacing: 0.2em;
                padding: 1.5%;
            }
        }
    }
    .dr_1 {
        min-height: 2.5em;
        width: 100%;
        margin-top: 1%;
        display: flex;
        font-weight: 700;
        div:first-child, div:last-child {
        }
        div.col.span_10 {
            display: flex;
            #pwr_on, #pwr_off, #sqrt_root, #percent {
                min-width: 4.2em;
                max-width: 6em;
                background: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: 2% 2%;
            }
            #pwr_on {
                background: #990033;
            }
        }
    }
    .dr_2 {
        min-height: 2.5em;
        width: 100%;
        margin-top: 1%;
        display: flex;
        font-weight: 700;
        div:first-child, div:last-child {
        }
        div.col.span_10 {
            display: flex;
            #mem_clr, #mem_dist, #mem_add, #division {
                min-width: 4.2em;
                max-width: 6em;
                background: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: 2% 2%;
            }
        }
    }
    .lr_1 {
        min-height: 2.5em;
        width: 100%;
        margin-top: 1%;
        display: flex;
        font-weight: 700;
        div:first-child, div:last-child {
        }
        div.col.span_10 {
            display: flex;
            #seven, #eight, #nine, #multiply {
                min-width: 4.2em;
                max-width: 6em;
                background: #ffffff;
                color: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: 2% 2%;
            }
            #multiply {
            background: #333366;
            color: #ffffff;
            }
        }
    }
    .lr_2 {
        min-height: 2.5em;
        width: 100%;
        margin-top: 1%;
        display: flex;
        font-weight: 700;
        div:first-child, div:last-child {
        }
        div.col.span_10 {
            display: flex;
            #four, #five, #six, #distract {
                min-width: 4.2em;
                max-width: 6em;
                background: #ffffff;
                color: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: 2% 2%;
            }
            #distract {
                background: #333366;
                color: #ffffff;
            }
        }
    }
    .lr_3 {
        min-height: 2.5em;
        width: 100%;
        margin-top: 1%;
        display: flex;
        font-weight: 700;
        div:first-child, div:last-child {
            flex-grow: 1;
            width: 2%;
        }
        div.col.span_10 {
            display: flex;
            flex-grow: 10;
            #one, #two, #three, #add {
                min-width: 4.2em;
                max-width: 6em;
                background: #ffffff;
                color: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: 2% 2%;
            }
            #add {
                background: #333366;
                color: #ffffff;
                // min-height: 5em;
                // line-height: 5em;
            }
        }
    }
/***************** LEPIEJ NIE ODKOMENTOWYWAĆ TEGO SZAJSU    
    .lr_3 {
        min-height: 2.5em;
        width: 100%;
        margin-top: 1%;
        display: flex;
        flex-flow: row nowrap;
        font-weight: 700;
        div:first-child, div:last-child {
        }
        flex-grow: 1;
        width: 100%;
        div.col.span_10 {
            display: flex;
            flex-grow: 10;
            flex-flow: row nowrap;
            justify-content: space-between;
            #one, #two, #three, #add {
                min-width: 15%;
                max-width: 20%;
                background: #ffffff;
                color: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: auto 4%;
            }
            #add {
                background: #333366;
                color: #ffffff;
                min-height: 5em;
                line-height: 5em;
            }
        }
    }
************************************/
    .lr_4 {
        min-height: 2.5em;
        width: 100%;
        margin-top: 1%;
        display: flex;
        font-weight: 700;
        div:first-child, div:last-child {
            flex-grow: 1;
            width: 2%;
        }
        div.col.span_10 {
            display: flex;
            flex-grow: 10;
            #zero, #point, #equal, #empty {
                min-width: 4.2em;
                max-width: 6em;
                background: #ffffff;
                color: #333366;
                line-height: 2.5em;
                text-align: center;
                margin: 2% 2%;
            }
            #equal {
                background: #333366;
                color: #ffffff;
            }
            #empty {
                background: rgba(123, 156, 207, 1);
            }
        }
    }
}














aside {
	min-height: 40em;
	background: #b3d1c9;
    position: relative;
    h3 {
        position: relative;
            top: 8em;
            // left: 50%;
        // margin-right: -50%;
        // transform: translate(-50%, -50%);
        font-size: 1.7em;
        line-height: 2em;
        text-align: center;
        vertical-align: middle;
    }
}

